QWidget {
}

QWidget {
    ;
}

QWidget {
    ;;;
}

QWidget {
    border: none
}

QWidget {
    border: none;
}

QWidget {
    border: none;;
}

QWidget {
    ;border: none
}

QWidget {
    ;border: none;
}